*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}
.flex-content{
    display: flex;
}
.haf-with-content{
    width: 50%;
    padding-left: 2%;
    margin-left:50px;
}
#margine{
    margin-top:100px;
}
.haf-with-content img{
    width: 80%;
}
span{
    color: rgb(255, 137, 58);
}
.border{
    border-left: 5px salmon solid;

}
h1{
    margin-bottom: 40px;
    font-size: 50px;
    padding-left: 10px;
    font-weight: 700;
}
p{
    text-align: justify;
}
.link{
    text-decoration: none;
    padding: 10px 40px;
    display: inline-block;
    margin-top: 20px;
    font-weight: 700;
    color: white;
    background: salmon;
    border-radius: 5px;
    margin-bottom: 50px;
}
.Mission{
    text-align: center;
    margin-top: 100px;
}
.Mission h1{
    margin-bottom: 30px;
    color: #000075;
}
.Mission h3{
    text-align: left;
}
.Mission img{
    width:100px;
    margin-top: 20px;
    display:block;
}
#one{
    background: #e4f9fc;
    border-radius: 10px;
    padding-right: 10px;
}
#two{
    background: rgb(254 228 205);
    border-radius: 10px;
    padding-right: 10px;
}
#three{
    margin-right: 50px;
    background: rgb(207 249 165);
    border-radius: 10px;
    padding-right: 10px;
}
.Develop{
    margin-top:100px;
}
.content-one{
    width: 40%;
    padding-left: 2%;
    margin-left:50px;
}
.content-one img{
    width:80%;
}
#content-two{
    width: 60%;
    padding-left: 2%;
    margin-right:150px;
    margin-top:30px;
}
#content-three{
    width: 60%;
    padding-left: 2%;
    margin-left:100px;
    margin-top:30px;
}
 h2{
    font-size: 40px;
}
.Community{
    margin-top: 50px;
}
#use-margin{
    margin-top: 50px;
}
.Application{
    text-align: center;
}
.Corona-Application{
    margin-top: 80px;
}
#four{
    background: rgb(255, 109, 138);
    padding-left:10px ;
    padding-top: 10px;
    border-radius:50px 0 10px 0;
}